doctype html
html
  head
    title AFC EAST | Players
    link(rel="stylesheet", type="text/css", href="/css/layout.css")

  body

    h1(class='home')
      a(href="/") AFC EAST
    br
    br
    ul(class='nav')
      li
        a(href="/team") Teams
      li
        a(href="/players") Players
      li
        a(href="/coaches") Coaches
    br

    h2 Players

    each player in players
        h3(class='playerName') #{player.playerName}
        each team in teams
          if team.id == player.teamId
            p played for:
              a(href="/team/" + team.id)  #{team.teamName}
        h4
          a(href="/players/" + player.id) Profile
