doctype html
html
  head
    title AFC EAST | Coaches
    link(rel="stylesheet", type="text/css", href="/css/layout.css")

  body

    h1(class='home')
      a(href="/") AFC EAST
    br
    br
    ul(class='nav')
      li
        a(href="/team") Teams
      li
        a(href="/players") Players
      li
        a(href="/coaches") Coaches
    br


    h2 Coaches

    each coach in coaches
      h3(class="coachName") #{coach.coachName}
      each team in teams
        if coach.teamId == team.id
          p coached for:
            a(href="/team/" + team.id)  #{team.teamName}
      h4
        a(href="/coaches/" + coach.id) Profile
