doctype html
html
  head
    title AFC EAST | Home
    link(rel="stylesheet", type="text/css", href="/css/layout.css")

  body

    h1(class='home')
      a(href="/") AFC EAST
    br
    br
    ul(class='nav')
      li
        a(href="/team") Teams
      li
        a(href="/players") Players
      li
        a(href="/coaches") Coaches
      li
        a(href="/chat") Chat Room
    br

    h2 HOME

    p The American Football Conference – Eastern Division or AFC East is one of the four divisions of the American Football Conference (AFC) in the National Football League (NFL). There are currently four teams that reside in the division: the Buffalo Bills (based in Orchard Park, New York); the Miami Dolphins (based in Miami Gardens, Florida); the New England Patriots (based in Foxborough, Massachusetts); and the New York Jets (based in East Rutherford, New Jersey).
    p Since the division's enfranchisement in 1960, with the creation of the American Football League, the division has been represented in nineteen Super Bowls and won eight of them. The most recent appearance in the Super Bowl by an AFC East team was the Patriots victory in Super Bowl LIII.
    p At the end of 2018, the Patriots had the most wins in the division's history, with a record of 500-392-9, with a playoff record of 35-19 (6-5 in Super Bowls) entering the playoffs of that season. The Dolphins were second at 446-350-4 (having played 84 fewer games than their division rivals) with a playoff record of 20-21 (2-3 in Super Bowls). The Bills were at 406-470-8 with a playoff record of 14-15 (with two American Football League titles) and 0-4 in four consecutive Super Bowls. The Jets held a record of 396-480-8, with a playoff record of 12-13 including a victory in Super Bowl III.
    p In 2012, the Patriots broke a tie with the Dolphins for winning the most division titles; with subsequent division titles in 2013, 2014, 2015, 2016, and 2017 the Patriots have won 20 AFL/AFC East division titles to Miami's 14. The Bills have won ten division titles, and the Jets have won four.
    p Two teams formerly in the division combined for ten AFL/AFC East titles – the Houston Oilers (now the Tennessee Titans) won four division titles (and the 1960 and 1961 league titles) during the AFL era while the Baltimore–Indianapolis Colts won six division titles (and Super Bowl V) in the 32 seasons they were in the division.
