body{
  background-color: #f4f4f4;
  font-family: helvitica, sans-serif;
  font-size: 14px;
  color: #373737;
  margin: 32px;
}

p{
  padding: 5px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  color: #c0b283;
}

h1{
  font-size: 48px;
}

h2{
  text-align: center;
  font-size: 36px;
  color: #373737;
}

a{
  color: #373737;
  background-color: #c0b283;
}

a:hover{
  color: papayawhip;
}

li a {
  color: white;
  font-size:  18px;
  background-color: #373737;
  text-decoration: none;
}

li a:hover{
  color: #dcd0c0;
}

.nav{
  text-align: center;
}
.nav li {
  text-align: center;
  display: inline;
  padding: 5px;
}

.nav li a{
  font-size: 32px;
}

.playerName, .coachName{
  font-size: 28px;
  text-decoration: underline;
}

.home{
  text-align: center;
}

.teams{
  text-align: center;
  font-size: 32px;
}
