doctype html
html
  head
    title Category
    link(rel="stylesheet", type="text/css", href="../../../css/layout.css")
  body
    h1 Products in #{catInfo.categoryName} Category
    ul
      each result in catQuery
        li
          a(href="/product/" + result.id) #{result.productName}
  br
  a(href="/") back to list
