doctype html
html
  head
    title AFC EAST | Teams
    link(rel="stylesheet", type="text/css", href="/css/layout.css")

  body

    h1(class='home')
      a(href="/") AFC EAST
    br
    br
    ul(class='nav')
      li
        a(href="/team") Teams
      li
        a(href="/players") Players
      li
        a(href="/coaches") Coaches
    br

    h2 Beasts of the East

    each team in teams
      h3(class="teams")
        a(href="/team/" + team.id) #{team.teamName}
