doctype html
html
  head
    title Admin View
    link(rel="stylesheet", type="text/css", href="../../../css/layout.css")
  body
    h1 Admin Portal
    ul
      each product in products
        li
          a(href="/admin/product/" + product.id) #{product.productName}

    a(href='/admin/product/new') Add new product
    br
    br
    a(href='/') Consumer View (home)
